<div id="main">
    <header>
        <ul id="social">
            @*<li><a href="https://www.facebook.com/vlorend"><img id="linkedin" class="icon-linkedin12" /></a></li>
            <li><a href="https://www.facebook.com/vlorend"><img id="goodreads" class="icon-goodreads" /></a></li>*@
            <li><a href="https://www.facebook.com/vlorend"><img id="facebook" class="icon-facebook29" /></a></li>
            <li><a href="https://twitter.com/vlorend"><img id="twitter" class="icon-twitter21" /></a></li>
        </ul>
    </header>
</div>