<div id="homepage">
    <div id="navigation">
        <ul id="nav">
            <li><a class="font3" href="/work"><img id="nav-work" src="~/Content/images/icons/work.png" />[ work ]</a></li>
            <li><a class="font3" href="/play"><img id="nav-play" src="~/Content/images/icons/play.png" />[ play ]</a></li>
            <li><a class="font3" href="/life"><img id="nav-life" src="~/Content/images/icons/life.png" />[ life ]</a></li>
            <li><a class="font3" href="/photos"><img id="nav-photos" src="~/Content/images/icons/photos.png" />[ photos ]</a></li>
        </ul>
    </div>
</div>