@using System.Configuration
@using VanLoren2015.Utilities

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Welcome to VanLoren.com!</title>

        <link rel="shortcut icon" href="~/Content/images/icons/favicon.ico" type="image/x-icon">
        <link rel="icon" href="~/Content/images/icons/favicon.ico" type="image/x-icon">
        <link href='@ConfigurationManager.AppSettings["LOGOFONT"]' rel='stylesheet' type='text/css'>
        <link media="screen" rel="stylesheet" href="~/Content/css/main.css">

        <script>
            /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
            window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
            grunticon(["/Content/images/icons.data.svg.css", "/Content/images/icons.data.png.css", "/Content/images/icons.fallback.css"]);
        </script>
        <noscript><link href="/Content/Assets/NVhomes/images/icons/icons.fallback.css" rel="stylesheet"></noscript>
    </head>

    <body>
        <div id="page">
            <header>
                <ul id="social">
                    <li><a href="https://www.facebook.com/vlorend"><img id="facebook" class="icon-facebook29" /></a></li>
                    <li><a href="https://twitter.com/vlorend"><img id="twitter" class="icon-twitter21" /></a></li>
                    @if (ViewBag.PageType == ApplicationConstants.PageTypes.work)
                    {
                        <li><a href="https://www.facebook.com/vlorend"><img id="linkedin" class="icon-linkedin12" /></a></li>
                        @*<li><a href="https://www.facebook.com/vlorend"><img id="github" class="icon-github" /></a></li>*@
                    }
                    @if (ViewBag.PageType == ApplicationConstants.PageTypes.play) { }
                    @if (ViewBag.PageType == ApplicationConstants.PageTypes.life)
                    {
                        <li><a href="https://www.facebook.com/vlorend"><img id="goodreads" class="icon-goodreads" /></a></li>
                        @*<li><a href="https://www.facebook.com/vlorend"><img id="pinterest" class="icon-pinterest" /></a></li>*@
                    }
                    @if (ViewBag.PageType == ApplicationConstants.PageTypes.play) { }
                    @if (ViewBag.PageType == ApplicationConstants.PageTypes.photos)
                    {
                        @*<li><a href="https://www.facebook.com/vlorend"><img id="instagram" class="icon-instagram" /></a></li>*@
                    }
                    @if (ViewBag.PageType == ApplicationConstants.PageTypes.play) { }
                </ul>
            </header>

            <div id="main">
                @RenderBody()
            </div>

            <footer id="main-footer">
                <ul id="footer">
                    <li><div id="vanessa-loren-dai"><span class="font3">vanessa loren dai</span></div></li>
                    <li><img id="seal" src="~/Content/images/icons/seal.png" /></li>
                </ul>
            </footer>
        </div>
    </body>
    </html>

@RenderSection("script")
