
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    

    img#seal {
        display: block;
        height: auto;
        width: auto;
        position:absolute;
        bottom: 0;
        right: 0;
        padding: 0 10px 10px 0;
    }
}
