@import (less) '../vendor/normalize/normalize.css';
@import 'icons.less';
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Shadows+Into+Light+Two|Rock+Salt);

@font1: 'Shadows Into Light';
@font2: 'Shadows Into Light Two';
@font3: 'Rock Salt';

html, body {
    margin: 0;
    padding: 0;
    background-color: #dac3b3;
    font: @font1;
}

header {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;

    div#vanessa-loren-dai {
        position: relative;
        margin:15px 0 0 20px;
    }

    ul#footer {
        display: table;
        list-style:none;
        height: 55px;
        width: 100%;

        li {
            display: table-cell;
            width:50%;
            
        }
    }
}

ul#social {
    padding: 0;
    display: table;
    list-style: none;

    li {
        display: table-cell;
    }
}

ul#nav {
    display: table;
    list-style:none;

    li {
        display: table-cell;
        padding-right: 20px;
    }
}

#main {
    background-image: url('/Content/images/main/background-main.png');
    background-size:cover;
    position:fixed;
    height:100vh;
    width:100vw;
}

#navigation {
    position: absolute;
    left:60%;
    top: 60%;
}

.font3 {
    font-family:@font3;
    font-size:1em;
}
