@import (less) '../vendor/normalize/normalize.css';
@import 'icons.less';
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light|Shadows+Into+Light+Two|Rock+Salt);

@font1: 'Shadows Into Light';
@font2: 'Shadows Into Light Two';
@font3: 'Rock Salt';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #dac3b3;
    font-family: @font1;
}

header {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    z-index: 1;
}

footer#main-footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;

    div#vanessa-loren-dai {
        position: relative;
    }

    ul#footer {
        display: table;
        list-style:none;
        height: 55px;
        width: 100%;

        li {
            display: table-cell;
            width:50%;
        }
    }
}
div#page { 
    position: relative;
}

div#work {    
    padding: 100px 100px 0 100px;

    div#resume {
        text-align: center;
        letter-spacing: 3px;
    }

    .resume-title {
        text-decoration: underline;
        font-weight: bold;
        font-size: 1.2em;
        text-align: left;
    }

    ul.resume-list-tech {
        text-align: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .resume-p {
        text-align:left;
    }
}

div#play    {
    padding: 40px;

    div#map {
        height: 0;
        overflow: hidden;
        width: 100%;
    }
}

ul#social {
    right: 0;
    padding-right: 20px;
    display: table;
    list-style: none;

    li {
        display: table-cell;
    }
}

ul#nav {
    display: table;
    list-style:none;

    li {
        display: table-cell;
        padding-right: 20px;
        text-align: center;
    }

    li a {
        font-size: 0.5em;
        font-weight: bold;
        text-decoration: none;
        color: #932822;
    }
}

h1 {
    font-family: @font1;
}

h2 {
    font-family: @font2;
}

#homepage {
    background-image: url('/Content/images/main/background-main.png');
    background-size:cover;
    position:fixed;
    height:100vh;
    width:100vw;
}

#navigation {
    position: absolute;
    left:60%;
    top: 60%;
}

.font1 {
    font-family:@font1;
    font-size:1em;
}
.font2 {
    font-family:@font2;
    font-size:1em;
}

.font3 {
    font-family:@font3;
    font-size:1em;
}
